<h2>Budget Detailed View</h2>
<mat-dialog-content class='mat-typography'>
  <h3>Overview</h3>
  <p><span class='label'>Name:</span> {{extendedBudget?.nameOfClub}}</p>
  <p><span class='label'>Fiscal Year:</span> {{extendedBudget?.fiscalYear}}</p>
  <p><span class='label'>Total Amount Approved:</span> {{extendedBudget?.amountApproved | currency}}</p>

  <hr />

  <h3>Detailed</h3>
  <p><span class='label'>Amount Requested:</span> {{extendedBudget?.amountRequested | currency}}</p>
  <p><span class='label'>Amount Proposed:</span> {{extendedBudget?.amountProposed | currency}}</p>
  <p><span class='label'>Appealed?:</span> tbd</p>
  <ng-container *ngIf='true'> <!--TODO: Add appealed? and requested appeal to Budget Model-->
    <p><span class='label'>Requested Appeal:</span> tbd</p>
    <p><span class='label'>Approved Appeal:</span> {{extendedBudget?.approvedAppeal | currency}}</p>
  </ng-container>

  <ng-container *ngIf='extendedBudget?.budgetSections?.length'>
    <hr />
    <h3>Sections</h3>
    <br />
    <ng-container>

    </ng-container>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
