<app-filterable-table
 [tableData]='dataSource'
 [tableColumns]='displayedColumns'
 [isLoadingResults]='isLoading'
 [actionItems]='actionItems'
 [paginationSizes]='[9]'
 [defaultPageSize]='9'
 [filters]='filters'
 (rowAction)='onButtonClicked($event)'
 (tableEvent)='onTableEvent($event)'
>
  <h3>Table Filters</h3>
  <hr />
  <div class='filters'>
    <app-club-name
      (search)='onSearch($event)'
    ></app-club-name>
    <app-club-acronym
      (search)='onSearch($event)'
    ></app-club-acronym>
    <app-club-classification
      (search)='onSearch($event)'
      [classifications]='metadata.clubClassifications'
    ></app-club-classification>
    <app-club-type
      (search)='onSearch($event)'
      [clubTypes]='metadata.clubTypes'
    ></app-club-type>
    <app-club-inactive
      (search)='onSearch($event)'
    ></app-club-inactive>
  </div>
</app-filterable-table>
