<!--<div class="fr-table">
  <table mat-table matSort [dataSource]="dataSource">
    &lt;!&ndash; Name Column &ndash;&gt;
    <ng-container matColumnDef="nameOfClub">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let fr">{{ fr.nameOfClub }}</td>
    </ng-container>

    &lt;!&ndash; Fiscal Year Column &ndash;&gt;
    <ng-container matColumnDef="fiscalYear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fiscal Year</th>
      <td mat-cell *matCellDef="let fr">{{ fr.fiscalYear }}</td>
    </ng-container>

    &lt;!&ndash; Hearing Date Column &ndash;&gt;
    <ng-container matColumnDef="hearingDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hearing Date</th>
      <td mat-cell *matCellDef="let fr">{{ fr.hearingDate | date }}</td>
    </ng-container>

    &lt;!&ndash; Amount Requested Column &ndash;&gt;
    <ng-container matColumnDef="amountRequested">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Requested</th>
      <td mat-cell *matCellDef="let fr">{{ fr.amountRequested | currency }}</td>
    </ng-container>

    &lt;!&ndash; Decision Column &ndash;&gt;
    <ng-container matColumnDef="decision">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Decision</th>
      <td mat-cell *matCellDef="let fr">{{ fr.decision }}</td>
    </ng-container>

    &lt;!&ndash; Amount Approved Column &ndash;&gt;
    <ng-container matColumnDef="amountApproved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Approved</th>
      <td mat-cell *matCellDef="let fr">{{ fr.amountApproved | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onClickedRow(row)" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons aria-label="Select page of frs"> </mat-paginator>
</div>-->

<app-reusable-table
  [tableData]='dataSource'
  [tableColumns]='displayedColumns'
  [isPageable]='true'
  [isSortable]='true'
  (rowAction)='onClickedRow($event)'
></app-reusable-table>
