<div class="fr-table">
  <table mat-table matSort [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="nameOfClub">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let fr"> {{fr.nameOfClub}} </td>
    </ng-container>

    <!-- Fiscal Year Column -->
    <ng-container matColumnDef="fiscalYear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fiscal Year</th>
      <td mat-cell *matCellDef="let fr"> {{fr.fiscalYear}} </td>
    </ng-container>

    <!-- Hearing Date Column -->
    <ng-container matColumnDef="hearingDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hearing Date</th>
      <td mat-cell *matCellDef="let fr"> {{fr.hearingDate | date}} </td>
    </ng-container>

    <!-- Amount Requested Column -->
    <ng-container matColumnDef="amountRequested">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount Requested</th>
      <td mat-cell *matCellDef="let fr"> {{fr.amountRequested | currency}} </td>
    </ng-container>

    <!-- Decision Column -->
    <ng-container matColumnDef="decision">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Decision</th>
      <td mat-cell *matCellDef="let fr"> {{fr.decision}} </td>
    </ng-container>

    <!-- Amount Approved Column -->
    <ng-container matColumnDef="amountApproved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount Approved</th>
      <td mat-cell *matCellDef="let fr"> {{fr.amountApproved | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="onClickedRow(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]"
                 showFirstLastButtons
                 aria-label="Select page of frs">
  </mat-paginator>

</div>
