mat-toolbar {
  color: white;
}

mat-sidenav {
  width: 250px;
  border-right: none;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

mat-toolbar {
  align-self: flex-start;
  justify-self: flex-start;
}

.content {
  flex: 1;
  padding-top: 5%;
  background-color: #303030;
}

mat-toolbar img {
  width: auto;
  height: 100%;
}

.spacing {
  flex: 1 1 auto;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
