<mat-sidenav-container>
  <mat-sidenav opened mode="over" [(opened)]="opened" [fixedInViewport]="true">
    Sidebar
    <ng-container *ngIf="!authService.isLoggedIn; else loggedInMenu">
      <a mat-list-item routerLink="/login">LOGIN</a>
    </ng-container>
    <ng-template #loggedInMenu>
      <a mat-list-item routerLink="/clubs">CLUBS</a>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacing"></span>
      <div>Treasury</div>
      <span class="spacing"></span>
      <img src="assets/images/wpi-logo.png"/>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
