<app-filterable-table
  [tableData]='dataSource'
  [tableColumns]='displayedColumns'
  [isLoadingResults]='isLoading'
  [actionItems]='actionItems'
  [paginationSizes]='[9]'
  [defaultPageSize]='9'
  [filters]='filters'
  (rowAction)='onButtonClicked($event)'
  (tableEvent)='onTableEvent($event)'
  (removeFilter)='handleRemove($event)'
>
  <app-club-inactive
    (search)='onSearch($event)'
  ></app-club-inactive>
  <br/>
  <app-club-name
    (search)='onSearch($event)'
  ></app-club-name>
  <app-club-acronym
    (search)='onSearch($event)'
  ></app-club-acronym>
  <app-club-classification
    (search)='onSearch($event)'
    [classifications]='metadata.clubClassifications'
  ></app-club-classification>
  <app-club-type
    (search)='onSearch($event)'
    [clubTypes]='metadata.clubTypes'
  ></app-club-type>

  <h4>Financial Based Filters</h4>

  <app-fiscal-year
    (search)='onSearch($event)'
    [fiscalYears]='metadata.fiscalYears'
  ></app-fiscal-year>
  <app-fiscal-class
    (search)='onSearch($event)'
    [fiscalClasses]='metadata.fiscalClasses'
  ></app-fiscal-class>
</app-filterable-table>
