.org {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.fin {
  border-radius: 0;
}

.fiviz {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:host {
  padding-top: 5px;
}
