<ng-container>
  <div *ngIf='isLoadingResults' class='loader'>
    <mat-spinner></mat-spinner>
  </div>

  <ng-container>
      <!-- Table -->
      <table mat-table matSort [matSortActive]='activeSort.dataKey' [matSortDirection]='activeSort.direction'
             [dataSource]='tableData.data'>
        <!-- Column Creator -->
        <ng-container *ngFor='let tableColumn of tableColumns' [matColumnDef]='tableColumn.name'>
          <!-- Sortable Columns-->
          <ng-container *ngIf='tableColumn.isSortable; else notSortable'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header='{{tableColumn.dataKey}}'>{{tableColumn.name}}</th>
          </ng-container>

          <!-- Else -->
          <ng-template #notSortable>
            <th mat-header-cell *matHeaderCellDef>{{tableColumn.name}}</th>
          </ng-template>

          <ng-container [ngSwitch]='tableColumn.type'>
            <ng-template [ngSwitchCase]='DATE'>
              <td mat-cell *matCellDef='let element'>{{ element[tableColumn.dataKey] | date }}</td>
            </ng-template>
            <ng-template [ngSwitchCase]='CURRENCY'>
              <td mat-cell *matCellDef='let element'>{{ element[tableColumn.dataKey] | currency }}</td>
            </ng-template>
            <ng-template [ngSwitchCase]='INACTIVE'>
              <td mat-cell *matCellDef='let element'>
                <mat-icon
                  [ngClass]="{'activeClub': !element[tableColumn.dataKey],
                          'inactiveClub': element[tableColumn.dataKey]}">
                  {{ element[tableColumn.dataKey] | activeClub }}</mat-icon>
              </td>
            </ng-template>
            <ng-template ngSwitchDefault>
              <ng-container *ngIf="tableColumn.subDataKey !== undefined; else noSubDataKey">
                <td mat-cell *matCellDef='let element'>{{ element[tableColumn.dataKey] [tableColumn.subDataKey] }}</td>
              </ng-container>
              <ng-template #noSubDataKey>
                <td mat-cell *matCellDef='let element'>{{ element[tableColumn.dataKey] }}</td>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>

        <!-- Action Items Definition-->
        <ng-container *ngIf='actionItems !== null && actionItems.length > 0'>
          <ng-container matColumnDef='actionItems'>
            <th id="action-item" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell class='actions-cell' *matCellDef='let element'>
              <ng-container *ngFor='let action of actionItems'>
                <button
                  *ngIf='action.actionType === ATYPES_VIEW; else notView'
                  mat-flat-button
                  color='primary'
                  (click)='emitButtonClick($event, element, action.actionType)'>
                  {{action.displayName}}
                </button>

                <ng-template #notView>
                  <button mat-stroked-button color='primary' (click)='emitButtonClick($event, element, action.actionType)'>
                    {{action.displayName}}
                  </button>
                </ng-template>

              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
        <tr mat-row *matRowDef='let row; columns: displayedColumns'></tr>
      </table>

      <mat-paginator [length]='tableData.maxResults'
                     [pageIndex]='tableData.pageNumber-1'
                     [pageSizeOptions]='paginationSizes'
                     [pageSize]='defaultPageSize'
                     showFirstLastButtons>
      </mat-paginator>

  </ng-container>
</ng-container>

