:host {
  text-align: left;
  height: 100%;

  & table {
    width: 100%;

    & .actions-cell {
      text-align: right;

      & button:first-of-type {
        margin-right: 1rem;
      }
    }
  }
}

.activeClub{
  color: darkgreen;
}

.inactiveClub {
  color: darkred;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
