.parent {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 9fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 65vh;
}

.filter-menu {
  background-color: white;
  color: black;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  text-align: left;
  grid-area: 1 / 1 / 3 / 2;
  height: 100%;

  & .filter-title {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
  }

  & .filter-menu-content {
    overflow-y: auto;
    max-height: 80%;
    padding: 10px 20px 10px 10px;
  }

  & .bottom-padding {
    height: 5%;
  }
}

.filter-bar {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  grid-area: 1 / 2 / 2 / 3;

  & .no-filters {
    color: black;
    margin-bottom: 0;
    font-style: italic;
    text-decoration: underline;
  }
}

.table-container {
  grid-area: 2 / 2 / 3 / 3;
}
