<div class="parent">
  <div class='filter-menu'>
    <div class='filter-menu-content'>
      <ng-content>
      </ng-content>
    </div>
  </div>
  <div class='filter-bar'>
    <mat-chip-list>
      <app-chip *ngFor='let filter of filters' [filter]='filter'></app-chip>
    </mat-chip-list>
  </div>
  <div class='table-container'>
    <app-http-pageable-table
    [isLoadingResults]='isLoadingResults'
    [isSortable]='isSortable'
    [tableColumns]='tableColumns'
    [paginationSizes]='paginationSizes'
    [defaultPageSize]='defaultPageSize'
    [activeSort]='activeSort'
    [tableData]='tableData'
    [actionItems]='actionItems'
    (rowAction)='emitButtonClick($event)'
    (tableEvent)='emitTableEvent($event)'
    ></app-http-pageable-table>
  </div>
</div>


