<app-reusable-header
  [dialogRef]='dialogRef'
  [headerTitle]="'Funding Request Detailed View'"
  [routerPath]='routerPath'
  [fromOrgView]='injectedData.fromOrgView'
></app-reusable-header>
<mat-dialog-content class='mat-typography'>
  <h3>Overview</h3>
  <p><span class='label'>Name:</span> {{extendedFundingRequest?.nameOfClub}}</p>
  <p><span class='label'>Hearing Date:</span> {{extendedFundingRequest?.hearingDate | date}}</p>
  <p><span class='label'>Dot Number:</span> {{extendedFundingRequest?.dotNumber}}</p>

  <hr />

  <h3>Detailed</h3>
  <p><span class='label'>Request Description:</span> {{extendedFundingRequest?.description}}</p>
  <ng-container *ngIf='extendedFundingRequest?.eventDate !== "" && extendedFundingRequest?.eventDate !== null'>
    <p><span class='label'>Event Date:</span> {{extendedFundingRequest?.eventDate | date}}</p>
  </ng-container>
  <p><span class='label'>Amount Requested:</span> {{extendedFundingRequest?.amountRequested | currency}}</p>
  <p><span class='label'>Decision:</span> {{extendedFundingRequest?.decision}}</p>
  <p><span class='label'>Amount Approved:</span> {{extendedFundingRequest?.amountApproved | currency}}</p>
  <p><span class='label'>Appealed?:</span> {{extendedFundingRequest?.appealed}}</p>

  <ng-container *ngIf='extendedFundingRequest?.appealed === "Yes"'>
    <p><span class='label'>Requested Appeal:</span> {{extendedFundingRequest?.requestedAppeal | currency}}</p>
    <p><span class='label'>Appeal Decision:</span> {{extendedFundingRequest?.decision}}</p>
    <p><span class='label'>Approved Appeal:</span> {{extendedFundingRequest?.approvedAppeal | currency}}</p>
    <p><span class='label'>Appeals Minutes: </span> <a href="{{extendedFundingRequest?.appealMinutes}}" target="_blank">Link to Minutes</a></p>
  </ng-container>

  <ng-container *ngIf='true'>
    <hr />

    <app-meeting-details
      [extendedFundingRequest]='extendedFundingRequest'
    ></app-meeting-details>

  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
