.nav-item {
  text-decoration: none;
  color: white;
}

.btn-sidebar {
  text-align: left;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;

  & mat-icon {
    font-size: 1.25em;
  }
}

.btn-sidebar-child {
  text-align: left;
  width: 100%;
  padding-left: 20%;
  font-size: 1em;
}

.btn-close {
  text-align: center;
}
