<mat-list-item>
  <button mat-button (click)="closeNav(false)" class="btn-sidebar btn-close">
    <mat-icon>close</mat-icon>
    Close Menu
  </button>
</mat-list-item>

<ng-container *ngIf="!authService.isLoggedIn; else loggedInMenu">
  <img class='img-profile' src='assets/images/generic-user.jpg' alt='profile-picture'/>
  <div class='user'>Not Signed In</div>

  <button mat-button class="btn-sidebar" (click)="closeNav(false); authService.login()">
    <mat-icon>login</mat-icon>
    WPI Sign In
  </button>

  <hr/>
</ng-container>
<ng-template #loggedInMenu>
  <img class='img-profile' src='assets/images/generic-user.jpg' alt='profile-picture'/>
  <div class='user'>Welcome {{"PLACEHOLDER"}}</div>

  <button mat-button class='btn-sidebar' (click)='authService.logout(); closeNav(false)' routerLink='/login'>
    <mat-icon>logout</mat-icon>
    Sign Out
  </button>

  <hr/>

  <ng-container *ngFor="let navItem of standardNavItems">
    <button mat-button class="btn-sidebar" (click)="closeNav(false)" routerLink="{{ '/' + navItem.path }}">
      <mat-icon>{{ navItem.icon }}</mat-icon>
      {{ navItem.title }}
    </button>
    <ng-container *ngIf="navItem?.children">
      <ng-container *ngFor="let child of navItem.children">
        <button mat-button class="btn-sidebar-child" (click)="closeNav(false)" routerLink="{{ '/' + navItem.path + child.path }}">
          {{ child.title }}
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<button mat-button class="btn-sidebar">
  <mat-icon>help</mat-icon>
  Help
</button>
